/* Gradient animation by Manuel Pinto: https://codepen.io/P1N2O/pen/pyBNzX */
.gradient-background {
  background: linear-gradient(-60deg, #321325, #c69c0d, #5f0f40);
  background-size: 200% 200%;
  animation: gradient-animation 40s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.no-dot-ul {
  list-style-type: none;
}

.fraction-12-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.fraction-2x-any-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.game-title {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 992px) {
  .game-title {
    font-size: 50px;
  }
}

.carousel-item > img {
  aspect-ratio: 1.26;
  object-fit: contain;
}

.cover-image {
  aspect-ratio: 1.26;
  object-fit: cover;
}

.video-aspect {
  aspect-ratio: 16/9;
}
