.ttt-grid {
  display: grid;
  background-color: #444;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  border-radius: 2%;
  padding: 0.5rem;
}

.ttt-box {
  background-color: #777;
  aspect-ratio: 1;
  border-radius: 5%;
}

.ttt-box > img{
  margin: 5%;
  width: 90%;
  height: 90%;
}
